{% extends 'base/index.html' %}

{% block content %}
<div class="content content--with-header content--with-footer">
    <div class="vertical-center">
        <form id="add-habit-form" class="vertical-center__element" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="habit-type-1-selector">
                <div style="display: none;">{{ form.type }}</div>
                <a class="habit-type-1-selector__element {% if form.type.value == 'daily' %}habit-type-1-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=daily">Дневная</a>
                <a class="habit-type-1-selector__element {% if form.type.value == 'weekly' %}habit-type-1-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=weekly">Недельная</a>
                <a class="habit-type-1-selector__element {% if form.type.value == 'monthly' %}habit-type-1-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=monthly">Месячная</a>
            </div>
            <div class="inputs">
                {% include 'common/input.html' with form_input=form.name with_label=True %}
                {% include 'common/input.html' with form_input=form.start_date with_label=True %}
                {% if form.type.value == 'daily' %}
                    {% include 'common/input.html' with form_input=form.frequency with_label=True label_suffix='(каждые n дней)' icon_type='number' %}
                {% elif form.type.value == 'weekly' %}
                    {% include 'common/input.html' with form_input=form.frequency with_label=True label_suffix='(каждые n недель)' icon_type='number' %}
                {% elif form.type.value == 'monthly' %}
                    {% include 'common/input.html' with form_input=form.frequency with_label=True label_suffix='(каждые n месяцев)' icon_type='number' %}
                {% endif %}
                {% if form.type.value == 'daily' %}
                    {% include 'common/input.html' with form_input=form.required_amount with_label=True label_suffix='(в день)' icon_type='number' %}
                {% elif form.type.value == 'weekly' %}
                    <hr>
                    <div class="habit-type-2-selector">
                        <a class="habit-type-2-selector__element {% if is_flexible %}habit-type-2-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=weekly&flexible=true">Неопределённая</a>
                        <a class="habit-type-2-selector__element {% if not is_flexible %}habit-type-2-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=weekly&flexible=false">Определённая</a>
                    </div>
                    {% if is_flexible %}
                        {% include 'common/input.html' with form_input=form.required_amount with_label=True label_suffix='(в неделю)' icon_type='number' %}
                    {% else %}
                        {% include 'common/input.html' with form_input=form.required_amount_per_day with_label=True icon_type='number' %}
                        {% include 'common/input.html' with form_input=form.selected_days with_label=True %}
                    {% endif %}
                {% elif form.type.value == 'monthly' %}
                    <hr>
                    <div class="habit-type-2-selector">
                        <a class="habit-type-2-selector__element {% if is_flexible %}habit-type-2-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=monthly&flexible=true">Неопределённая</a>
                        <a class="habit-type-2-selector__element {% if not is_flexible %}habit-type-2-selector__element--active{% endif %}" href="{% url 'add-habit' %}?type=monthly&flexible=false">Определённая</a>
                    </div>
                    {% if is_flexible %}
                        {% include 'common/input.html' with form_input=form.required_amount with_label=True label_suffix='(в месяц)' icon_type='number' %}
                    {% else %}
                        {% include 'common/input.html' with form_input=form.required_amount_per_day with_label=True icon_type='number' %}
                        {% include 'common/input.html' with form_input=form.selected_days with_label=True %}
                    {% endif %}
                {% endif %}
            </div>
        </form>
        <div class="vertical-center__element"></div>
        {% include 'common/button.html' with class_name='vertical-center__element' btn_type='button' form_name='add-habit-form' btn_value='Добавить' %}
    </div>
</div>
{% endblock %}
