{% extends 'base/index.html' %}

{% block content %}
<div class="content content--with-header content--with-footer">
    <div class="vertical-center">
        <form id="edit-habit-form" class="vertical-center__element" method="post" autocomplete="off">
            {% csrf_token %}
            {% include 'common/input.html' with form_input=form.name with_label=True %}
            {% url 'delete-habit' habit.pk as btn_url %}
            {% include 'common/button.html' with btn_type='link' link_url=btn_url class_name='button--red' btn_value='Удалить' %}
        </form>
        <div class="vertical-center__element"></div>
        <div class="vertical-center__element">
            {% include 'common/button.html' with btn_type='button' form_name='edit-habit-form' btn_value='Сохранить' %}
        </div>
    </div>
</div>
{% endblock %}
