{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="content content--with-no-header content--with-footer">
    <form class="search-form" method="get" autocomplete="off">
        {% include 'common/input.html' with form_input=search_form.search icon_type='search' %}
    </form>
    {% for label, habits in habits_with_type %}
        <div class="habit-group">
            <div class="habit-group__name">{{ label }}</div>
            {% for habit in habits %}
                <a class="habit" href="{% url 'habit-detail' habit.pk %}">
                    <div class="habit__name">{{ habit.name }}</div>
                    <div class="habit__painting-cnt">
                        <img src="{% static 'svg/paintings.svg' %}" alt="Paintings">
                        <div>{{ habit.painting_cnt }}</div>
                    </div>
                </a>
            {% empty %}
                <div class="habit-empty-text">Нет подходящих привычек.</div>
            {% endfor %}
        </div>
    {% endfor %}
    <a class="add-habit" href="{% url 'add-habit' %}">
        <img src="{% static 'svg/plus.svg' %}" alt="Add habit">
    </a>
</div>
{% endblock %}
