{% extends 'base/index.html' %}
{% load static %}
{% load habit_detail %}

{% block content %}
<div class="habit-detail content content--with-header content--with-footer">
    <div class="new-painting vertical-center">
        <div class="vertical-center__element">
            <div class="info-row">
                <div class="info-row__element">
                    {{ habit.get_type_display }}
                </div>
                <div class="info-row__element">
                    {{ habit.start_date|date:"d.m.Y" }}
                </div>
                <div class="info-row__element info-row__element--with-icon">
                    <img src="{% static 'svg/paintings.svg' %}" alt="Paintings">
                    <div>{{ habit.painting_cnt }}</div>
                </div>
                <div class="info-row__element info-row__element--with-icon">
                    <img src="{% static 'svg/fire.svg' %}" alt="Streak">
                    <div>{{ habit.current_streak }}</div>
                </div>
            </div>
            <div class="title">{{ habit.name }}</div>
            <table class="calendar">
                <tr>
                    {% with 'Пн Вт Ср Чт Пт Сб Вс' as weekdays %}
                        {% for weekday in weekdays.split %}
                            <td>{{ weekday }}</td>
                        {% endfor %}
                    {% endwith %}
                </tr>
                {% for row in calendar_rows %}
                    <tr>
                        {% for day in row %}
                            <td>
                                <div class="td-inner">
                                    {% if day.type == 'partially_completed' %}
                                        <img class="calendar__painting" src="{% static 'img/partial-painting-icon.png' %}" alt="Daily painting">
                                    {% elif day.type == 'completed' and day.painting and day.painting.painting %}
                                        <a href="{% url 'habit-painting-detail' day.painting.pk %}">
                                            {% include 'common/painting.html' with painting_url=day.painting.painting.url class_name='calendar__painting' %}
                                        </a>
                                    {% elif day.type == 'missed' %}
                                        <img class="calendar__painting" src="{% static 'img/missed-painting-icon.png' %}" alt="Daily painting">
                                    {% elif day.type == 'expected_part' or day.type == 'expected_full' %}
                                        <img class="calendar__painting" src="{% static 'img/expected-painting-icon.png' %}" alt="Daily painting">
                                    {% elif day.type == 'none' %}
                                        <div class="calendar__no-day"></div>
                                    {% else %}
                                        {% get_date calendar_date.year calendar_date.month day.num as day_date %}
                                        {% if day_date < habit.start_date %}
                                            <div class="calendar__invalid-day"></div>
                                        {% else %}
                                            <div class="calendar__empty-day"></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if day.type != 'none' %}
                                        {% get_date calendar_date.year calendar_date.month day.num as day_date %}
                                        <div class="calendar__day-number {% if day_date == today %}calendar__day-number--today{% endif %}">
                                            {{ day.num }}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="vertical-center__element"></div>
        <div class="vertical-center__element">
            <div class="controls">
                <a class="controls__btn" href="{% url 'habit-detail' pk %}?calendar_date={{ calendar_date|prev_month|date:'Y-m-01' }}">
                    <img src="{% static 'svg/prev.svg' %}" alt="Previous">
                </a>
                <div class="controls__label">
                    {{ calendar_date|date:'F, Y' }}
                </div>
                <a class="controls__btn" href="{% url 'habit-detail' pk %}?calendar_date={{ calendar_date|next_month|date:'Y-m-01' }}">
                    <img src="{% static 'svg/next.svg' %}" alt="Next">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
