{% extends 'base/index.html' %}
{% load static %}
{% load habit_current %}

{% block content %}
<div class="content content--with-no-header content--with-footer">
    <div class="date">{% now "D — d b Y" %}</div>
    <form class="sort-form" method="get" autocomplete="off">
        <div class="left">Сортировать:</div>
        <div class="right">
            <a href="{% url 'habit-current-list' %}?order={{ order_form.order.value|reverse_order }}">
                Дедлайн
                {% if order_form.order.value == 'deadline' %}
                    <img src="{% static 'svg/sort-asc.svg' %}" alt="Sort asc">
                {% elif order_form.order.value == '-deadline' %}
                    <img src="{% static 'svg/sort-desc.svg' %}" alt="Sort desc">
                {% endif %}
            </a>
        </div>
    </form>
    <div class="habits">
        {% for habit in habits %}
            <div class="habit">
                <div class="habit__left">
                    <div class="habit__top">
                        <div class="habit__deadline">
                            <span>Дедлайн </span>
                            <span style="{% if habit.deadline == today %}color: #d09797;{% endif %} text-decoration: underline;">
                                {{ habit.deadline|date:'d b Y' }}
                            </span>
                        </div>
                        <div class="habit__name">{{ habit.name }}</div>
                    </div>
                    <div class="habit__bottom">
                        <div class="habit__streak">
                            <img class="streak__icon" src="{% static 'svg/fire.svg' %}" alt="Streak icon">
                            <div class="streak__number">{{ habit.current_streak }}</div>
                        </div>
                    </div>
                </div>
                <div class="habit__right">
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <input class="hidden" type="number" name="habit_id" value="{{ habit.pk }}">
                        <button style="background: transparent;" {% if habit.completed_amount >= habit.current_required_amount %}disabled{% endif %}>
                            <div class="habit__progress-ring c100 p{{ habit.complete_percentage }} center">
                                <span>{{ habit.completed_amount }}/{{ habit.current_required_amount }}</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        {% empty %}
            <div class="habits__empty">Нет привычек.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
