{% extends 'base/index.html' %}
{% load static %}
{% load new_painting %}

{% block content %}
<div class="content content--popup content--with-no-header content--with-no-footer">
    <a class="close-btn" href="{% url 'habit-current-list' %}">
        <img src="{% static 'svg/cross.svg' %}" alt="Close button">
    </a>
    <div class="new-painting vertical-center">
        <div class="vertical-center__element">
            <div class="new-painting__star">
                {% if new_painting.type == 'partially_completed' %}
                    <img src="{% static 'svg/half-star.svg' %}" alt="Half star">
                {% elif new_painting.type == 'completed' %}
                    <img src="{% static 'svg/full-star.svg' %}" alt="Full star">
                {% endif %}
            </div>
            <div class="new-painting__text">
                Поздравляем с завершением дневного задания по вашей
                {% if habit.type != 'daily' %}
                    {{ habit.type|habit_type_to_rus_1 }}
                {% endif %} привычке <b>«{{ habit.name }}»</b>!
                Это ваше <b>{{ habit.current_streak }}</b> выполненное {% if habit.current_streak > 1 %}подряд{% endif %} задание!
                <br><br>
                {% if new_painting.type == 'partially_completed' %}
                    Вот ваша награда:
                    <b>{{ current_part_index|add:1 }}/{{ habit.selected_days|length }}</b>
                    часть картины, завершите оставшиеся задания
                    {{ habit.type|habit_type_to_rus_2 }}, чтобы собрать все части и
                    получить целую картину.
                {% elif new_painting.type == 'completed' %}
                    Вот ваша награда: эксклюзивная картина
                    (<b>№{{ habit.painting_cnt }}</b> в галерее этой привычки)!
                {% endif %}
            </div>
            <div class="new-painting__painting">
                {% if new_painting.type == 'partially_completed' %}
                    {% static 'img/puzzle.png' as painting_part_url %}
                    {% include 'common/painting.html' with painting_url=painting_part_url %}
                {% elif new_painting.type == 'completed' and new_painting.painting %}
                    {% include 'common/painting.html' with painting_url=new_painting.painting.url painting_name=new_painting.painting_name %}
                {% else %}
                    <div class="empty-painting">
                        <div>
                            Передали картину в доставку,
                            скоро она появится у вас в галерее
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="vertical-center__element"></div>
        <div class="vertical-center__element">
            {% url 'habit-detail' pk=habit.pk as habit_url %}
            {% include 'common/button.html' with btn_type='link' link_url=habit_url btn_value='Перейти к привычке' %}
        </div>
    </div>
</div>
{% endblock %}
