{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="painting-detail content content--popup content--with-no-header content--with-no-footer">
    <a class="close-btn" onclick="history.back();">
        <img src="{% static 'svg/cross.svg' %}" alt="Close button">
    </a>
    <div class="new-painting vertical-center">
        <div class="vertical-center__element">
            <div class="popup-title">«{{ painting.habit.name }}»</div>
            <div class="popup-subtitle">{{ painting.date|date:'d.m.Y' }}</div>
        </div>
        <div class="vertical-center__element" style="margin-top: 160px;">
            {% include 'common/painting.html' with painting_url=painting.painting.url painting_name=painting.painting_name %}
        </div>
        <div class="vertical-center__element"></div>
    </div>
</div>
{% endblock %}
