{% load static %}

<footer>
    <a class="nav {% if footer_type == 'current' %}nav--active{% endif %}" href="{% url 'habit-current-list' %}">
        <img class="nav__icon" src="{% static 'svg/today.svg' %}" alt="Today icon">
        <div class="nav__text">Текущее</div>
    </a>
    <a class="nav {% if footer_type == 'habits' %}nav--active{% endif %}" href="{% url 'habit-list' %}">
        <img class="nav__icon" src="{% static 'svg/clipboard.svg' %}" alt="Clipboard icon">
        <div class="nav__text">Все привычки</div>
    </a>
    <a class="nav {% if footer_type == 'settings' %}nav--active{% endif %}" href="{% url 'account-detail' %}">
        <img class="nav__icon" src="{% static 'svg/settings.svg' %}" alt="Settings icon">
        <div class="nav__text">Настройки</div>
    </a>
</footer>
