{% load static %}

<header>
    <div class="header__left">
        <a class="back-btn" {% if left_btn_url %}href="{{ left_btn_url }}" {% else %}onclick="history.back();"{% endif %}>
            <img src="{% static 'svg/back.svg' %}" alt="Back">
        </a>
    </div>
    <div class="header__right">
        {% if right_btn_type == 'edit_habit' %}
            <a class="edit-btn" href="{{ right_btn_url }}">
                <img src="{% static 'svg/edit.svg' %}" alt="Edit">
            </a>
        {% endif %}
    </div>
</header>
