{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Habit Gallery{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/ring.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if header_type %}
    {% include 'base/header.html' with left_btn_url=header_left_btn_url right_btn_type=header_right_btn_type right_btn_url=header_right_btn_url %}
{% endif %}
{% block content %}{% endblock %}
{% if footer_type %}
    {% include 'base/footer.html' with footer_type=footer_type %}
{% endif %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
