<div class="button {% if class_name %}{{ class_name }}{% endif %}">
    {% if btn_type == 'button' %}
        <button form="{{ form_name }}">{{ btn_value }}</button>
        {% if btn_text %}
            <div class="button__text">
                {{ btn_text|safe }}
            </div>
        {% endif %}
    {% elif btn_type == 'link' %}
        <a href="{{ link_url }}">{{ btn_value }}</a>
    {% endif %}
</div>