{% load static %}

<div class="input {% if input_class %}{{ input_class }}{% else %}input--main{% endif %} {% if icon_type %}input--with-icon{% endif %} {% if form_input.errors %}input--with-errors{% endif %}">
    {% if with_label %}
        <div class="input__label">{{ form_input.label }} {{ label_suffix }}</div>
    {% endif %}
    <div class="input__field">
        {% if icon_type == 'number' %}
            <img class="left-icon" id="decrease-number" src="{% static 'svg/decrease.svg' %}" alt="Decrease" onclick="decreaseNumber(this)" style="width: 13px;">
        {% endif %}
        {{ form_input }}
        {% if icon_type == 'password' %}
            <img class="right-icon" id="show-password" src="{% static 'svg/eye.svg' %}" alt="Show password" onclick="showPassword()">
            <img class="right-icon" id="hide-password" src="{% static 'svg/eye-closed.svg' %}" alt="Hide password" onclick="hidePassword()" style="display: none;">
        {% elif icon_type == 'search' %}
            <img class="right-icon" src="{% static 'svg/magnifier.svg' %}" alt="Search">
        {% elif icon_type == 'number' %}
            <img class="right-icon" id="increase-number" src="{% static 'svg/increase.svg' %}" alt="Increase" onclick="increaseNumber(this)" style="width: 13px;">
        {% endif %}
    </div>
    {% if form_input.errors %}
        <div class="input__error">
            {{ form_input.errors.0 }}
        </div>
    {% endif %}
</div>
