{% load static %}

<div class="painting {{ class_name }}">
    <img class="painting__frame" src="{% static 'img/frame.png' %}" alt="Frame">
    <img class="painting__image" src="{{ painting_url }}" alt="Painting">
    {% if painting_name %}
        <div class="painting__name">«{{ painting_name }}»</div>
    {% endif %}
</div>
