@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Roboto:wght@400;700&display=swap');


/* Common - base */

.hidden {
    display: none;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: #ebe2d0;
    color: #000;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

body.body--popup {
    background-color: #fff;
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 0 49px;
}

.content--with-no-header {
    padding-top: 65px;
}

.content--with-header {
    padding-top: 95px;
}

.content--with-no-footer {
    padding-bottom: 65px;
}

.content--with-footer {
    padding-bottom: 30px;
}

.content--with-footer  {
    padding-bottom: 95px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.vertical-center__element {
    flex: 1 1;
}

.vertical-center__element:first-child, .vertical-center__element:last-child {
    flex: 0 1 !important;
}

.vertical-center__element:last-child {
    margin-top: 40px;
}


/* Common - popup */

.content--popup {
    background: #fff;
}

.content--popup .popup-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 40px;
}

.content--popup .popup-subtitle {
    font-size: 14px;
    color: #bfbfbf;
}

.content--popup .close-btn {
    position: absolute;
    opacity: .25;
    top: 30px;
    right: 25px;
    width: 30px;
}


/* Common - inputs & buttons */

.input > .input__label {
    font-weight: 600;
    font-size: 14px;
    color: #b0a99c;
    margin-bottom: 10px;
}

.input > .input__field {
    display: flex;
}

.input > .input__field > input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    height: 42px;
    padding: 12px 17px;
}

.input > .input__field > input[type='date'] {
    text-align: left;
    font-family: 'Inter', sans-serif !important;
}

.input > .input__field > input[type='date']::-webkit-inner-spin-button,
.input > .input__field > input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 66px;
}

.input > .input__field > input[type='number'] {
    text-align: center;
}

.input > .input__field > select {
    overflow-x: scroll;
    overflow-y: hidden;
    background: transparent;
    border: none;
    height: 25px;
}

.input > .input__field > select > option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ddd4c4;
    border-radius: 4px;
    font-size: 10px;
    width: 24px;
    height: 24px;
}

.input > .input__field > select > option:not(:first-child) {
    margin-left: 5px;
}

.input > .input__field > select > option[selected] {
    background-image: linear-gradient(to bottom right, #000, #363636);
    color: #fff;
}

.input--main > .input__field, .input--main > .input__field > input {
    background: #dfd7c6;
    border: 0;
    border-radius: 10px;
}

.input--bordered > .input__field {
    border: 2px solid #bfbfbf;
    border-radius: 10px;
}

.input--bordered > .input__field > input {
    background: transparent;
    border: none;
}

.input > .input__field:has(> select) {
    background: transparent;
}

.input--with-icon > .input__field > img {
    width: 16px;
}

.input--with-icon > .input__field > img.left-icon {
    padding-left: 17px;
}

.input--with-icon > .input__field > img.right-icon {
    padding-right: 17px;
}

.input--with-errors > .input__field {
    border: 2px solid #ef6c63 !important;
}

.input--with-errors > .input__error {
    color: #ef6c63;
    font-size: 10px;
    margin-top: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button > button, .button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #000, #363636);
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 42px;
}

.button.button--red > button, .button.button--red > a {
    box-sizing: border-box;
    background: transparent;
    color: #f57168;
    border: 2px solid #f57168;
}

.button > .button__text {
    font-size: 12px;
    margin-top: 15px;
}

.button > .button__text > a {
    color: #000;
}


/* Common - painting */

.painting {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.painting__frame {
    z-index: 2;
    width: 100%;
    box-shadow: 2px 6px 10px 0 #7f7f7f;
}

.painting__image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}

.painting__name {
    color: #bfbfbf;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}


/* Common - header */

header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #ebe2d0;
    border: 1px solid #b0a99c;
    width: 100%;
    height: 65px;
    padding: 18px 25px;
}

header .header__right, header .header__left {
    display: flex;
    align-items: center;
}

header .back-btn {
    display: block;
    width: 30px;
}

header .edit-btn {
    display: block;
    width: 18px;
}


/* Common - footer */

footer {
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #b0a99c;
    background-color: #ebe2d0;
    height: 65px;
    width: 100%;
    padding: 0 49px;
}

footer > .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: .25;
}

footer > .nav.nav--active {
    opacity: 1;
}

footer > .nav > .nav__icon {
    width: 24px;
}

footer > .nav > .nav__text {
    color: #000;
    font-size: 10px;
    margin-top: 3px;
}


/* Login & Signup */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__svg {
    display: flex;
    align-items: center
}

.logo__svg > img {
    width: 36px;
}

.logo__text {
    color: #b0a99c;
    font-size: 26px;
    font-weight: 700;
    margin-left: 6px;
}

.login-form-wrapper, .signup-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

.login-form > .input:not(:first-child), .signup-form > .input:not(:first-child) {
    margin-top: 15px;
}


/* Current habits */

.date {
    font-size: 26px;
    font-weight: 700;
}

.sort-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sort-form .left, .sort-form .right a {
    display: flex;
    align-items: center;
    color: #b0a99c;
    font-size: 14px;
    text-decoration: none;
}

.sort-form > .right img {
    width: 14px;
    margin-left: 3px;
}

.habits {
    margin-top: 20px;
}

.habits__empty {
    font-size: 14px;
}

.habit {
    display: flex;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #47443f, #9c7d57);
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    width: 100%;
    height: 139px;
    padding: 20px 19px;
}

.habit:not(:first-child) {
    margin-top: 10px;
}

.habit > .habit__left {
    width: 65%;
    max-width: 65%;
}

.habit > .habit__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.habit > .habit__right {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    max-width: 35%;
}

.habit .habit__deadline {
    font-size: 11px;
}

.habit .habit__name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.habit .habit__streak {
    display: flex;
}

.habit .habit__streak > .streak__icon {
    width: 9px;
}

.habit .habit__streak > .streak__number {
    font-size: 11px;
    margin-left: 3px;
}

.habit .habit__progress-ring {
    font-size: 87px;
}

.habit .habit__progress-ring span {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}


/* New painting */

.new-painting__star {
    display: flex;
    justify-content: center;
}

.new-painting__star img {
    width: 25px;
}

.new-painting__text {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

.new-painting__text b {
    font-weight: 700;
}

.new-painting__painting {
    margin-top: 37px;
}

.new-painting__painting > .empty-painting {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    color: #b4b4b4;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 177px;
    padding: 15px;
}


/* Habit list */

.habit-group {
    margin-top: 30px;
}

.habit-group > .habit-group__name {
    font-size: 22px;
    font-weight: 700;
    color: #b0a99c;
}

.habit-group > .habit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 111px;
    margin-top: 12px;
}

.habit-group > .habit > .habit__name {
    font-size: 16px;
    font-weight: 700;
}

.habit-group > .habit > .habit__painting-cnt {
    display: flex;
}

.habit-group > .habit > .habit__painting-cnt > img {
    width: 10px;
}

.habit-group > .habit > .habit__painting-cnt > div {
    font-size: 11px;
    margin-left: 3px;
}

.habit-group > .habit-empty-text {
    color: #b0a99c;
    font-size: 14px;
    margin-top: 12px;
}

.add-habit {
    z-index: 2;
    position: fixed;
    bottom: 90px;
    right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #000, #363636);
    border-radius: 6px;
    width: 42px;
    min-width: 42px;
    height: 42px;
    min-height: 42px;
}

.add-habit img {
    width: 13px;
}


/* Add habit */

#add-habit-form .habit-type-1-selector, #add-habit-form .habit-type-2-selector {
    display: flex;
    border-radius: 9px;
    background: #ddd4c4;
    height: 42px;
}

#add-habit-form .habit-type-2-selector {
    margin-top: 20px;
}

#add-habit-form .habit-type-1-selector__element, #add-habit-form .habit-type-2-selector__element {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 9px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    flex: 1 1;
    height: 100%;
}

#add-habit-form .habit-type-1-selector__element--active {
    background-image: linear-gradient(to bottom right, #000, #363636);
    color: #fff;
}

#add-habit-form .habit-type-2-selector__element--active {
    border: 2px solid #a69f93;
}

#add-habit-form hr {
    background: #ddd4c4;
    width: 100%;
    height: 2px;
    border: none;
    margin-top: 40px;
}

#add-habit-form select[name='type'] {
    display: none;
}

#add-habit-form .inputs {
    margin-top: 40px;
}

#add-habit-form .inputs > .input {
    margin-top: 20px;
}


/* Account detail */

.account-detail > .field:not(:first-child) {
    margin-top: 30px;
}

.account-detail > .field {
    font-size: 14px
}

.account-detail > .field > .field__label {
    font-weight: 600;
}

.account-detail > .field > .field__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b0a99c;
    margin-top: 10px;
}

.account-detail > .field > .field__value img {
    opacity: .25;
    width: 14px;
}


/* Painting detail */

.painting-detail .popup-title {
    text-align: center;
    margin-bottom: 0;
}

.painting-detail .popup-subtitle  {
    text-align: center;
    margin-top: 10px;
}

/* Edit habit */

#edit-habit-form > .button {
    margin-top: 30px;
}


/* Habit detail */

.habit-detail .info-row {
    display: flex;
}

.habit-detail .info-row > .info-row__element {
    display: flex;
    align-items: center;
    background: #ddd4c4;
    border-radius: 4px;
    font-size: 11px;
    height: 19px;
    padding: 0 14px;
}

.habit-detail .info-row > .info-row__element:not(:first-child) {
    margin-left: 4px;
}

.habit-detail .info-row > .info-row__element--with-icon img {
    filter: invert(1);
    width: 10px;
    margin-right: 2px;
}

.habit-detail .title {
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}

.habit-detail .calendar {
    margin-top: 38px;
}

.habit-detail .calendar tr:first-child {
    color: #b0a99c;
    font-size: 13px;
}

.habit-detail .calendar tr:not(:first-child) td {
    padding-top: 15px;
}

.habit-detail .calendar td:not(:first-child) {
    padding-left: 6px;
}

.habit-detail .calendar .td-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-detail .calendar .calendar__painting,
.habit-detail .calendar .calendar__painting .painting__frame,
.habit-detail .calendar .calendar__painting .painting__image,
.habit-detail .calendar .calendar__empty-day,
.habit-detail .calendar .calendar__invalid-day,
.habit-detail .calendar .calendar__no-day {
    width: 38px;
    height: 23px;
}

.habit-detail .calendar .calendar__painting .painting__frame {
    box-shadow: none;
}

.habit-detail .calendar .calendar__painting {
    box-shadow: 1px 2px 2px 0 #b0a99c;
}

.habit-detail .calendar .calendar__empty-day {
    background: #ddd4c4;
    border-radius: 4px;
}

.habit-detail .calendar .calendar__invalid-day {
    background: #ddc7c4;
    border-radius: 4px;
}

.habit-detail .calendar .calendar__day-number {
    font-weight: 700;
    font-size: 12px;
    margin-top: 6px;
}

.habit-detail .calendar .calendar__day-number--today {
    color: #f57168;
}

.habit-detail .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habit-detail .controls > .controls__btn img {
    width: 25px;
}

.habit-detail .controls > .controls__label {
    font-size: 17px;
}
