{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="account-detail content content--with-no-header content--with-footer">
    <div class="field">
        <div class="field__label">Email</div>
        <div class="field__value">
            <div>{{ email }}</div>
            <a href="{% url 'edit-account-email' %}">
                <img src="{% static 'svg/edit.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="field">
        <div class="field__label">Password</div>
        <div class="field__value">
            <div>&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</div>
            <a href="{% url 'edit-account-password' %}">
                <img src="{% static 'svg/edit.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="field">
        {% url 'logout' as btn_url %}
        {% include 'common/button.html' with class_name='button--red' btn_type='link' link_url=btn_url btn_value='Выйти' %}
    </div>
</div>
{% endblock %}
