{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="content content--popup content--with-no-header content--with-no-footer">
    <a class="close-btn" href="{% url 'account-detail' %}">
        <img src="{% static 'svg/cross.svg' %}" alt="Close button">
    </a>
    <div class="new-painting vertical-center">
        <div class="vertical-center__element">
            <div class="popup-title">Смена пароля</div>
            <form id="edit-password-form" method="post" autocomplete="off">
                {% csrf_token %}
                {% include 'common/input.html' with form_input=form.new_password with_label=True input_class='input--bordered' %}
            </form>
        </div>
        <div class="vertical-center__element"></div>
        <div class="vertical-center__element">
            {% include 'common/button.html' with class_name='vertical-center__element' btn_type='button' form_name='edit-password-form' btn_value='Сохранить' %}
        </div>
    </div>
</div>
{% endblock %}
