{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="content content--with-no-header content--with-no-footer">
    <div class="vertical-center">
        <div class="logo vertical-center__element">
            <div class="logo__svg">
                <img src="{% static 'svg/logo.svg' %}" alt="Logo">
            </div>
            <div class="logo__text">Habit Gallery</div>
        </div>
        <div class="login-form-wrapper vertical-center__element">
            {% static 'img/login-painting.png' as painting_url %}
            {% include 'common/painting.html' with painting_url=painting_url %}
            <form id="login" class="login-form" method="post" autocomplete="off">
                {% include 'common/input.html' with form_input=form.email %}
                {% include 'common/input.html' with form_input=form.password icon_type='password' %}
                {% csrf_token %}
            </form>
        </div>
        {% url "signup" as url_signup %}
        {% include 'common/button.html' with btn_type='button' class_name='vertical-center__element' form_name='login' btn_value='Войти' btn_text='Нет аккаунта? <a href="'|add:url_signup|add:'">Зарегистрироваться</a>' %}
    </div>
</div>
{% endblock %}
