{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="content content--with-no-header content--with-no-footer">
    <div class="vertical-center">
        <div class="logo vertical-center__element">
            <div class="logo__svg">
                <img src="{% static 'svg/logo.svg' %}" alt="Logo">
            </div>
            <div class="logo__text">Habit Gallery</div>
        </div>
        <div class="signup-form-wrapper vertical-center__element">
            <div class="painting">
                <img class="painting__frame" src="{% static 'img/frame.png' %}" alt="Frame">
                <img class="painting__image" src="{% static 'img/login-painting.png' %}" alt="Signup painting">
            </div>
            <form id="signup" class="signup-form" method="post" autocomplete="off">
                {% include 'common/input.html' with form_input=form.email %}
                {% include 'common/input.html' with form_input=form.password icon_type='password' %}
                {% csrf_token %}
            </form>
        </div>
        {% url "login" as url_login %}
        {% include 'common/button.html' with btn_type='button' class_name='vertical-center__element' form_name='signup' btn_value='Зарегистрироваться' btn_text='Есть аккаунт? <a href="'|add:url_login|add:'">Войти</a>' %}
    </div>
</div>
{% endblock %}
